click==8.1.7 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0"
greenlet==3.0.1 ; python_version >= "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
pydantic==1.10.13 ; python_version >= "3.12" and python_version < "4.0"
pygments==2.16.1 ; python_version >= "3.12" and python_version < "4.0"
rich==13.6.0 ; python_version >= "3.12" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "4.0"
sqlalchemy2-stubs==0.0.2a37 ; python_version >= "3.12" and python_version < "4.0"
sqlalchemy==1.4.41 ; python_version >= "3.12" and python_version < "4.0"
sqlmodel==0.0.8 ; python_version >= "3.12" and python_version < "4.0"
typer[all]==0.9.0 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.8.0 ; python_version >= "3.12" and python_version < "4.0"
